
.satoshi-thin {
    font-family: "Satoshi", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.satoshi-extralight {
    font-family: "Satoshi", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.satoshi-light {
    font-family: "Satoshi", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.satoshi-regular {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.satoshi-medium {
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.satoshi-semibold {
    font-family: "Satoshi", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.satoshi-bold {
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.satoshi-extrabold {
    font-family: "Satoshi", sans-serif;
    font-weight: 800;
    font-style: normal;
}
  
.satoshi-black {
    font-family: "Satoshi", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.satoshi-thin-italic {
    font-family: "Satoshi", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.satoshi-extralight-italic {
    font-family: "Satoshi", sans-serif;
    font-weight: 200;
    font-style: italic;
}
  
.satoshi-light-italic {
    font-family: "Satoshi", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.satoshi-regular-italic {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.satoshi-medium-italic {
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.satoshi-semibold-italic {
    font-family: "Satoshi", sans-serif;
    font-weight: 600;
    font-style: italic;
}
  
.satoshi-bold-italic {
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.satoshi-extrabold-italic {
    font-family: "Satoshi", sans-serif;
    font-weight: 800;
    font-style: italic;
}
  
.satoshi-black-italic {
    font-family: "Satoshi", sans-serif;
    font-weight: 900;
    font-style: italic;
}
